<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>headwind</title>
    <style>
        th,td {text-align: center}
        tr:nth-child(even) {background-color: #ccffee}
        body {font-family: Verdana, Arial, sans-serif;}
    </style>
</head>
<body>
<table>
    <colgroup>
        <col width="6%">
        <col width="5%">
        <col width="5%">
        <col width="10%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
    </colgroup>
    <tbody>
        <tr>
            <th><small>date</small></th>
            <th><small>time</small></th>
            <th><small>temperature</small></th>
            <th><small>wind</small></th>
            <th><small>clouds (low)</small></th>
            <th><small>precipitation</small></th>
            <th><small>PBL thickness</small></th>
            <th><small>CAPE [J/kg]</small></th>
        </tr>
        {% for dt, forecast in forecasts.items() -%}
            <tr>
                <th>{{dt.strftime('%a, %d.%m.%y')}}</th>
                <td>{{forecast.time.isoformat(timespec='minutes')}}</td>
                <td>{{forecast.temperature}}</td>
                <td>
                    <span style="text-align: left; width: 5ch; display: inline-block">{{forecast.wind_direction}}°</span>
                    <span style="text-align: left; width: 4ch; display: inline-block">{{forecast.wind_speed}}</span>
                    <span style="text-align: left; width: 3ch; display: inline-block">→</span>
                    <span style="text-align: left; width: 4ch; display: inline-block">{{forecast.wind_gusts}}</span>
                </td>
                <td>{{forecast.cloud_cover}} ({{forecast.cloud_cover_low}})</td>
                <td>{{forecast.precipitation}}</td>
                <td>{{forecast.pbl_thickness}}</td>
                <td>{{forecast.cape}}</td>
            </tr>
        {% endfor -%}
    </tbody>
</table>
</body>
</html>