<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>headwind</title>
    <style>
        th,td {width: 150px; text-align: center}
    </style>
</head>
<body>
<table>
    <tbody>
        <tr>
            <th><small>date</small></th>
            <th><small>time</small></th>
            <th><small>temperature</small></th>
            <th><small>wind direction</small></th>
            <th><small>wind speed</small></th>
            <th><small>wind gusts</small></th>
            <th><small>precipitation</small></th>
            <th><small>pbl thickness</small></th>
        </tr>
        {% for dt, forecast in forecasts.items() -%}
            <tr>
                <th>{{dt.strftime('%a %d.%m.%y')}}</th>
                <td>{{forecast.time.isoformat(timespec='minutes')}}</td>
                <td>{{forecast.temperature}}</td>
                <td>{{forecast.wind_direction}}</td>
                <td>{{forecast.wind_speed}}</td>
                <td>{{forecast.wind_gusts}}</td>
                <td>{{forecast.precipitation}}</td>
                <td>{{forecast.pbl_thickness}}</td>
            </tr>
        {% endfor -%}
    </tbody>
</table>
</body>
</html>